*{
	text-align: center;
	font-family: 'Heebo', sans-serif;
}

#fdaSearch{
	
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    font-size: 15px;
    text-align: center;

}
.button {
	position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
#baller {
    margin-left: 10%;
    
    
}
nav {
  background-color: #495da2;
  height: 200px;
  width: 100%;
  

}

img {
  height: 200px;
}
body{
	background: url(../img/background.jpg) no-repeat center center fixed;
}